.topicos{
    background: var(--azul-degrade);
    color: var(--branco);
    text-align: center;
    padding: 1.6em 0;
}

.topicos__titulo{
    font-weight: 300;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 1.2em;
}

.topicos__lista{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topicos__item{
    margin: 2em 0.6em;
    font-weight: 700;
    font-size: 14px;
}

.topicos__link{
    padding: 1em;
    background-color: var(--laranja);
}

@media screen and (min-width: 1024px){
    .topicos__titulo{
        font-size: 24px;
    }

    .topicos__lista{
        width: 70%;
        margin: 0 auto;
    }

    .topicos__item{
        margin-bottom: 2em;
    }

    .topicos__link{
        margin: auto auto;
    }

    .topicos__link{
        font-size: 20px;
    }
}

@media screen and (min-width: 1728px){

    .topicos{
        padding: 3em 50vh;
    }
}